/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}


h1 {
  font-weight: bold;
  text-align: center;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 90%;
}

em {
  color: blue;
}

a {
  text-decoration: none;
  color: blue;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

